<div class="container">
  <div class="barra-lateral">
  </div>

  <section class="container-pokedex">

    <section class="header-pokedex">

      <div class="infos-pokedex">
        <h1 class="titulo-pokedex">Fase teste prático Front_end</h1>
        <h2 class="subTitulo-pokedex">Subtitulo da descrição</h2>
      </div>

      <div class="pesquisar-pokedex">
          <span class=" campo-pesquisa">
            <input [(ngModel)]="termoPesquisa"  (input)="filtrarItens()" type="text" placeholder="Buscar" class="input-pesquisa">
            <i  class="pi pi-search icone-pesquisa"></i>
        </span>
      </div>

    </section>

    <section class="lista-pokemon">
      <div class="header-lista-pokemon">
        <div class="linha"></div>
        <p class="texto-informacao-lista">Exibindo 5 de 20 itens</p>
        <div class="linha"></div>
      </div>

      <div class="body-lista-pokemons">
        <div class="item-lista-pokemon" *ngFor="let pokemon of pokemons | slice: paginaAtual * itensPorPagina : (paginaAtual * itensPorPagina) + itensPorPagina">
          <img class="pokemon-imagem" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.url.split('/')[6]}}.png" alt="">
          <div class="pokemon-infos">
            <p class="pokemon-nome">{{ pokemon.name }}</p>
            <p class="pokemon-descricao">Características do pokemon dolor sit amet, consectetur adipiscing elit. In ultricies nunc at odio tempor tincidunt. Sed sit amet dolor velit. Donec convallis tellus ut porta molestie. Suspendisse condimentum et dui in aliquam.</p>
          </div>

        </div>

        <div class="paginator">
          <p class="paginator-text-info">{{ paginaAtual + 1 }} de {{ calcularUltimaPagina() }} páginas</p>
          <span class="material-symbols-outlined" (click)="primeiraPagina()">
            first_page
          </span>
          <span class="material-symbols-outlined" (click)="paginaAnterior()">
              navigate_before
          </span>
          <span class="material-symbols-outlined" (click)="proximaPagina()">
              navigate_next
          </span>
          <span class="material-symbols-outlined" (click)="ultimaPagina()">
                last_page
          </span>
        </div>
      </div>
    </section>

  </section>



</div>
